@font-face {
    font-family: mainfont;
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
  }
  /* scrollbar custom */
  ::-webkit-scrollbar {
    width: 7px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f180;
    border-radius: 5rem;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #003c95; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #e2322b; 
  }
body {
    margin: 0;
    overflow-x: hidden;
    font-family: mainfont;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    text-align: center;
    height: 6rem;
}
.text  {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}
.contact-text   {
    display: flex;
    justify-content: left;
    margin-left: 5rem;
}
.about-text {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 5rem;
}
.about-text h1  {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #003c95;
}

#fat-text  {
    text-decoration: solid;
    color: rgb(71, 71, 71);
}
.text-container button  {
    font-family: mainfont;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #e2322b;
    color: #ffffff;
    transition: 200ms;
}
.text-container button:hover {
    background-color: #003c95;
    transform: scale(1.05);
    cursor: pointer ;
}
.contact-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    width: 80vw;
}
.text-container {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    margin-right: 2.5rem;
    max-width: 40vw;
}
.text-container h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #003c95;
}
.image-container {
    margin-top: 5rem;
    margin-left: 2.5rem;
    max-width: 40vw;
}
#artboard   {
    width: 80%;
    margin: 5rem;
}
.products   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}
.products h1    {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #003c95;

}
product-text   {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
}
.contact p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5rem;
    text-align: start;
}
#contact-p  {
    font-size: 1.5rem;
}
.sliding-container  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    width: 80vw;
    height: 90vh;
    align-self: center;
}
#main-logo  {
    width: auto;
    height: 6rem;
    margin-left: 1rem;
}
.navigation a   {
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 1.5rem;
    font-family: mainfont;
    margin-right: 3rem;
    transition: 200ms;
}
.navigation a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
.content    {
    display: flex;
    flex-direction: column;
    height: fit;
    background-color: #ffffff;
    margin-bottom: auto;
}
.about-content  {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.footer {
    display: flex;
    align-items: flex-end;
    height: 6.5rem;
    width: 100vw;
    position: absolute;
    justify-content: space-between;
    background-color: #f1f1f1;
    bottom: 0;
}
.footer-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.footer-socials a   {
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 1rem;
    font-family: mainfont;
    margin-top: 0.5rem;
    transition: 200ms;
}
#footer-logo    {
    height: 6rem;
    width: auto;
    margin-left: 0.5rem;
}
.footer-socials a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}
#socialicon {
    width: 1.75rem;
    height: auto;
    margin-right: 1rem;
}
.footer-text   {
    font-family: mainfont;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}