
product-chair   {
    position: absolute;
    top: 20rem;
    left: 21rem;
}

.products p    {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
  }
  .video-container iframe {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #ChairStyle {
    font-size: 20px;
    font-weight: bold;
  }

  #ChairStyle1 {
    font-size: 12px;
    
  }

  .chair-description {
    position: absolute;
    top: 50rem;
    left: 21rem;
  }

